<?xml version="1.0" encoding="utf-8"?>
<Sections>
  <Array key="ConnectionStrings">
    <Object>{"Name":"DbMes","ConnectionString":"DataSource=","ProviderName":"System.Data.SqlClient"}</Object>
    <Object>{"Name":"DbMaster","ConnectionString":"DataSource=Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DbMaster;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False","ProviderName":"System.Data.SqlClient"}</Object>
  </Array>
</Sections>